@font-face {
    font-family: 'burtons_nightmareregular';
    src: url('nitemare-webfont.woff2') format('woff2'), url('nitemare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    background-image: url(images/madlib.jpg);
    background-size: cover;
    background-attachment: fixed;
}
audio{
    position: fixed;
    left:73%;
    color:black;
}
header {
    position: absolute;
    margin: 4%;
    left: 2%;
}

h1 {
    color: #E9B31F;
    font-family: 'burtons_nightmareregular';
    font-size: 5vw;
}

label {
    color: #0472BB;
    opacity: 0.8;
    font-family: 'gill sans';
}

div{
    padding-bottom: 5%;
}
section {
    position: absolute;
    margin: 4%;
    left: 7%;
    top: 17%;
    font-size: 2vw;
    width:40%;


}

form{
    padding-bottom: 2%;
}
.creature,.smell{
   padding-top: 5%; 
}

li{
    padding-bottom: 2%;
    list-style: disc;
}
input{
    color:white;
}
input[type="text"] {
    width: 80%;
    padding: 1%;
    border-color: black;
    border-style: double;
    border-bottom-color: white;
    font-size: 2vw;
    opacity: 0.7;
    background: none;
    -webkit-text-fill-color: white;
}

input[type=text]:focus {
    opacity: 0.6;
    border-bottom-color: #E9B31F;
    -webkit-text-fill-color: #E9B31F;
    outline:none;
    font-size:6vw;
}

.time input[type="text"] {
    width:20%;
}


input[type="reset"], input[type="submit"] {
  position:relative;
  left:50%;
  border-color:#0472BB;
    padding: 3%;
  border-radius:6px;
  background-color:black;
  color:#0472BB;
  font-size:1.5vw;
}

input[type="reset"]:hover, input[type="submit"]:hover {
 color:white;   
  border-color:white;  
    background: linear-gradient(268deg, #0472BB, #E9B31F);
}

input[type="reset"]:focus, input[type="submit"]:focus {
    outline:none;
    background: linear-gradient(268deg, #0472BB, #E9B31F);
}

.option1:hover,.option2:hover,.option3:hover,.option4:hover,.option5:hover,.option6:hover{
    color:white;
}
.smell img,.creature img{
    position:absolute;
    right:1%;
    visibility: hidden;
}

.option1:hover +.feces{
    visibility: visible;
}
.option2:hover +.flesh{
    visibility: visible;
}
.option3:hover +.sewer{
    visibility: visible;
}
.option4:hover +.cobra{
    visibility: visible;
}
.option5:hover +.scorpion{
    visibility: visible;
}
.option6:hover +.frog{
    visibility: visible;
}


.creature img{ 
    top:45%;
}

.smell img{
    top:25%;  
}

aside {
  padding-top:10%;
  margin-top:40px;
  color:#E9B31F;
  width:4.5in;
  
}

footer a{
    color:#0472BB;
    font-size:1.3vw;
     text-decoration: none;
    left:100%;
   
}

footer a:hover{
    color:white;
}