@charset "UTF-8";
@font-face {
  font-family: 'keep_calm_medregular';
  src: url('fonts/keepcalm-medium-webfont.woff2') format('woff2'), url('keepcalm-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  font-family: "gill sans";
}

#mySketch {
  position: fixed;
  left: 33%;
  bottom: 60%;
  width: 100%;
}

header h1 {
  font-family: 'keep_calm_medregular';
  font-size: 7vw;
  color: #999797;
  margin-bottom: -20px;
}

header {
  position: fixed;
  bottom: 63%;
  width: 31%;
  left: 0.8%;
  text-align: right;
}

section {
  width: 100%;
  position: fixed;
  top: 39%;
}

#excercise, #studio, #project {
  color: white;
  width: 33%;
  height: 100%;
  font-size: 3vw;
  text-align: left;
  position: fixed;
}

#excercise {
  background-color: #ECCAC0;
  left: 0%;
}

#studio {
  background-color: #F3E8AF;
  left: 33%;
}

#project {
  background-color: #BFE0FD;
  left: 66%;
  width: 34%;

}

#excercise:hover {
  background-color: #5F0AA4;
}

#studio:hover {
  background-color: mediumvioletred;
}

#project:hover {
  background-color: darkblue;
}

#excercise a, #studio a, #project a {

  color: white;
  text-decoration: none;
  font-size: 2vw;
     
}

#excercise a {
  left: 0%;
}

#studio a {
  left: 33%;
}

#project a {
  left: 66%;
      font-size: 1.5vw;
}

#hi {
    position: absolute;
    left: 55%;
    top:11%;
       font-size: 1.5vw;
}

#hi li{
    padding: 3%;
}

#excercise ul ul, #studio ul ul, #project ul ul {
  visibility: hidden;
}

#excercise ul li:hover ul, #studio ul li:hover ul, #project ul li:hover ul {
  visibility: visible;
}

#excercise a:hover, #studio a:hover, #project a:hover {
  color: yellow;
}

footer {
  position: fixed;
  left: 39%;
  bottom: 4%;
}

footer li {
  display: inline;
  padding-right: 4%;
}

footer a {
  position: fixed;
  width: 2.5%;
  height: 2.5%;
  opacity: 0.3;
}

footer a:hover {
  opacity: 1;
}

li {
  list-style-type: none;
  margin-bottom: 0px;
     margin-left: 6px;
    padding-bottom: 0px;
}

#project li{
     margin-bottom: -15px;
}
