@font-face {
    font-family: 'sofia_prolight';
    src: url('font/sofiapro-light-webfont.eot');
    src: url('font/sofiapro-light-webfont.eot?#iefix') format('embedded-opentype'), url('font/sofiapro-light-webfont.woff2') format('woff2'), url('font/sofiapro-light-webfont.woff') format('woff'), url('font/sofiapro-light-webfont.ttf') format('truetype'), url('font/sofiapro-light-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Open Sans, Arial;
}

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
    display: inline-block;
    margin-right: 30px;
    font-weight: 300;
    font-size: 50px;
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in-text li: last-child {
    margin-right: 0;
}

.fly-in-text.hidden li {
    opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) {
    transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(2) {
    transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(3) {
    transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(4) {
    transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(5) {
    transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(6) {
    transform: translateX(-20px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(7) {
    transform: translateX(30px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(8) {
    transform: translateX(20px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(9) {
    transform: translateX(-150px) translateY(50px);
}

.fly-in-text.hidden li:nth-child(10) {
    transform: translateX(100px) translateY(20px);
}

.fly-in-text.hidden li:nth-child(11) {
    transform: translateX(200px) translateY(-300px);
}

.fly-in-text.hidden li:nth-child(12) {
    transform: translateX(-80px) translateY(-150px);
}

.fly-in-text.hidden li:nth-child(13) {
    transform: translateX(30px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(14) {
    transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(15) {
    transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(16) {
    transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(17) {
    transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(18) {
    transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(19) {
    transform: translateX(-20px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(20) {
    transform: translateX(30px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(21) {
    transform: translateX(20px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(22) {
    transform: translateX(-150px) translateY(50px);
}

.fly-in-text.hidden li:nth-child(23) {
    transform: translateX(100px) translateY(20px);
}

.fly-in-text.hidden li:nth-child(24) {
    transform: translateX(200px) translateY(-300px);
}

.fly-in-text.hidden li:nth-child(25) {
    transform: translateX(-80px) translateY(-150px);
}

.fly-in-text.hidden li:nth-child(26) {
    transform: translateX(30px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(27) {
    transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(28) {
    transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(29) {
    transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(30) {
    transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(31) {
    transform: translateX(-400px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(32) {
    transform: translateX(-20px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(33) {
    transform: translateX(30px) translateY(200px);
}

.text {
    position: absolute;
    top: 30%;
    left: 28%;
    text-align: center;
    font-size: 20px;
    font-family: 'sofia_prolight';
    display: none;
}

button {
    padding: 20px 50px;
    position: absolute;
    top: 50%;
    left: 42%;
    background: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
        border: 3px solid white;
    display: none;
      animation-duration: 3s;
   animation-name:shrink;
     animation-iteration-count: 3000000;

}
button:hover{
     background-color: white;
   animation-play-state: paused;
    color:black;
}

button:focus {
    outline:none;
}
@keyframes shrink {
  0% {
    transform: scaleY(1);
  }

  49% {
    transform: scale(0.93, 0.93);
  }

 100% {
    transform: scaleY(1);
  }

}

button a{
    text-decoration: none;
    color:white;
}

#left {
    position: fixed;
    left: 55%;
    top: 39%;
    display: none;
}

.one,
.two,
.three {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-135deg);
    animation: scroll 1s infinite;
}

.one {
    animation-delay: 0.1s;
}

.two {
    animation-delay: 0.2s;
}

.three {
    animation-delay: 0.3s;
}



@keyframes scroll {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}



