@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: "times";
    position: fixed;
    left: 1%;
    top: 2%;
    font-size: 4vw;
    color: grey;
}

#buildings {
    position: absolute;
    width: 150%;
    bottom: -4%;
    z-index: 1;
}

#pearltower,
#shanghaitower,
#ifc,
#jinmaotower,
#temple {
    cursor: pointer;
    position: absolute;
}

#pearltower {
    width: 11%;
    bottom: -2%;
    left: 27%;
    z-index: 2;
}

#shanghaitower {
    width: 7%;
    bottom: 7%;
    left: 65%;
    z-index: -1;
}

#ifc {
    width: 7%;
    bottom: -1%;
    left: 86%;
    z-index: -1;
}

#jinmaotower {
    width: 8%;
    bottom: -1%;
    left: 113%;
    z-index: -1;
}

#temple {
    width: 8%;
    bottom: -1%;
    left: 135%;
    z-index: 2;
}

#pearltowertext,
#shanghaitowertext,
#ifctext,
#jinmaotext,
#templetext {
    display: none;
    font-family: 'times';
    z-index: 3;
    position: absolute;
    border: 1px solid darkgrey;
    padding: 1%;
    background-color: white;
    opacity: 0.9;
    font-size: 1.2vw;
    width: 1in;
}

#pearltowertext {
    left: 33%;
    top: 240px;
    color: coral;
}

#shanghaitowertext {
    left: 68%;
    top: 150px;
    color: orangered;
}

#ifctext {
    left: 88%;
    top: 240px;
    color: #5D73B6;
    width: 1.2in;
}

#jinmaotext {
    left: 117%;
    top: 260px;
    color: hotpink;
    width: 1in;
}

#templetext {
    left: 135%;
    top: 500px;
    color: skyblue;
    width: 1in;
}

div {
    position: fixed;
    left: 30%;
    top: 2%;
}

.one,
.two,
.three {
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    transform: rotate(-45deg);
    margin: 5px;
    animation: scrollButtom 1s infinite;
}

.one {
    animation-delay: 0.1s;
}

.two {
    animation-delay: 0.2s;
}

.three {
    animation-delay: 0.3s;
}

@keyframes test {
    0% {
        background: red;
    }
    100% {
        background: green;
    }
}

@keyframes scrollButtom {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

button {
    position: fixed;
    padding: 1%;
    background-color: white;
    opacity: 0.9;
    border: 1px solid grey;
    font-size: 1vw;
    color: grey;
    cursor: pointer;
    transition: all 500ms;
}

button:hover {
    opacity: 1.5;
    padding: .9em 0.9em;
    background-color: rgba(250, 200, 100, 0.18);
    border-color: #FFBF00;
    color: #FFBF00;
}

#photo {
    left: 12%;
    top: 13%;
}

#night {
    left: 1%;
    top: 13%;
}

#answer img {
    width: 150%;
    position: absolute;
    bottom: 0%;
    z-index: 3;
}

#answer2 img {
    width: 150%;
    position: absolute;
    bottom: -3%;
    z-index: -2;
}

aside {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#close,
#close2 {
    position: fixed;
    width: 150%;
    left: 96%;
    top: 1%;
}

aside #close {
    cursor: pointer;
    color: grey;
    font-size: 4vw;
    transition: all 500ms;
}

aside #close:hover {
    opacity: 0.5;
    font-size: 4.5vw;
}

aside #close2 {
    cursor: pointer;
    color: white;
    font-size: 4vw;
    transition: all 500ms;
}

aside #close2:hover {
    opacity: 0.5;
    font-size: 4.5vw;
}




footer {
  position: fixed;
    left:96%;
    bottom: 0%;
    z-index: 2;
}
footer img{
     width: 40%;
  height: 40%;
 
}
footer li {
  display: inline;
  padding-right: 2%;
}

footer a {
  opacity: 0.3;
}

footer a:hover {
 opacity: 1;
}

