 * {
            padding:0px;
            margin:0px;
            width:100%;
            box-sizing: border-box;
            font-family: gill sans; 
        }
        
        header{
            position:fixed;
            bottom:70%;
            left:40%;
           
        }
        header p { 
            font-size:8vw;
            color:black;
            position:relative;
            
        }
        
        section{
            width:100%;
            position:fixed;
            top:40%;
           
        }
          
        #excercise{
            background-color:#ECCEF5;
            color:white;
            position: fixed;
            left:0%;
            width: 33%;
            height:100%;
            font-size:5vw;
            text-align:left;
            padding:10px;    
        }
        
       
        #studio{
            background-color:#E6F8E0;           
            position: fixed;
            left:33%;
            color:white;
            width: 33%;
            height:100%;
            font-size:5vw;
            text-align:left;
            padding:5px;

    
        }
         #project{
            background-color:#F6E3CE;
            left:66%;
            position: fixed;
            color:white;
            width: 34%;
             height:100%;
             font-size:5vw;
            text-align:left;
             padding:5px;   
        }
        
        a{
            text-decoration: none; 
            color:white;
            position: fixed;
            width: 33%;
            height:100%;
            font-size:2.5vw;
            text-align:center;     
        }
        
        #excercise:hover{
            background-color:rebeccapurple;
        }
          #studio:hover{
            background-color:mediumvioletred;
        }
          #project:hover{
            background-color:darkblue;
        }
        #excercise a{
           left:0%;  
           padding:1%;
        }
         #studio a{
           left:33%;
                padding:1%; 
        }
         #project a{
           left:66%;
                  padding:1%;
             font-size:2.5vw;
        }
        
        #excercise ul ul{
            visibility: hidden;
            
        }
        
        #excercise ul li:hover ul {
            visibility: visible;
        }
        #studio ul ul{
            visibility: hidden;
        }
        
        #studio ul li:hover ul {
            visibility: visible;}
           #project ul ul{
            visibility: hidden;
        }
        
        #project ul li:hover ul {
            visibility: visible;
        }
        li{
            list-style-type:none;
        }
h2{
    color:black;
    font-size:2vw;
    text-align: center;
    position:fixed;
    left:1%;
}
        h2:hover{
            color:#E0FAFE;
        }
a:hover{
    color:yellow;
}